<template>

  <section class="row controls" v-if="!game.gameIsRunning">
    <div class="small-12 columns">
      <button id="start-game" @click="startGame">START NEW GAME</button>
    </div>
  </section>

  <section class="row controls" v-else>
    <div class="small-12 columns">
      <button id="attack" @click="attack">ATTACK</button>
      <button :disabled="specialAttackDisabled" @click="specialAttack" id="special-attack">
        SPECIAL ATTACK
      </button>
      <button :disabled="healDisabled" id="heal" @click="heal">HEAL</button>
      <button id="give-up" @click="giveUp">GIVE UP</button>
    </div>
  </section>

</template>

<script>

  export default {
    name: 'Controls',
    props: {
      game: Object
    },
    computed: {
      specialAttackDisabled: function () {
        return this.game.playerMana < 100;
      },
      healDisabled: function () {
        return this.game.playerMana < 25;
      }
    },
    methods: {
      startGame: function () {
        this.game.gameIsRunning = true;
        this.game.playerHealth = 100;
        this.game.playerMana = 0;
        this.game.monsterHealth = 100;
        this.game.turns = [];
      },
      attack: function () {
        this.increaseMana();
        const damage = this.calculateDamage(3, 10);
        this.game.monsterHealth -= damage;
        this.registerTurn('Players hits Monster for ' + damage, true);
        if (this.checkWin()) {
          return;
        }

        this.monsterAttacks();
      },
      registerTurn: function (msg, isPlayer) {
        this.game.turns.unshift({
          isPlayer: isPlayer,
          text: msg
        });
      },
      increaseMana: function () {
        if (this.game.playerMana <= 75) {
          this.game.playerMana += 25;
        }
      },
      decreaseMana: function () {
        if (this.game.playerMana >= 25) {
          this.game.playerMana -= 25;
        }
      },
      specialAttack: function () {

        this.gatoPodre();
        this.game.playerMana = 0;
        const damage = this.calculateDamage(10, 20);
        this.game.monsterHealth -= damage;
        this.game.turns.unshift({
          isPlayer: true,
          text: 'Players hits Monster hard for ' + damage
        });
        if (this.checkWin()) {
          return;
        }
        this.monsterAttacks();


      },
      heal: function () {
        this.healingSond();
        this.decreaseMana();

        if (this.game.playerHealth <= 90) {
          this.game.playerHealth += 10;
        } else {
          this.game.playerHealth = 100;
        }

        this.game.turns.unshift({
          isPlayer: true,
          text: 'Players heals for 10'
        });

        this.monsterAttacks();

      },
      giveUp: function () {
        this.game.gameIsRunning = false;
      },
      monsterAttacks: function () {
        const damage = this.calculateDamage(5, 12);
        this.game.playerHealth -= damage;

        this.registerTurn('Monster hits Player for ' + damage, false);
        this.checkWin();
      },
      calculateDamage: function (min, max) {
        return Math.max(Math.floor(Math.random() * max) + 1, min);
      },
      checkWin: function () {
        if (this.game.monsterHealth <= 0) {
          this.solaDaBota();
          if (confirm('You won! New Game?')) {
            this.startGame();
          } else {
            this.game.gameIsRunning = false;
          }
          return true;
        } else if (this.game.playerHealth <= 0) {
          this.aiai();
          if (confirm('You lost! New Game?')) {
            this.startGame();
          } else {
            this.game.gameIsRunning = false;
          }
          return true;
        }
        return false;
      },
      playAudio: function (pathAudio) {
        const audio = new Audio();
        audio.src = pathAudio;
        audio.play()
      },
      aiai: function () {
        this.playAudio('src/assets/ai-aiii-memes-para-download.mp3');
      },
      gatoPodre: function () {
        this.playAudio('src/assets/sai-dai-gato-podre-suma-dai (mp3cut.net).mp3');
      },
      solaDaBota: function () {
        this.playAudio('src/assets/WhatsApp Audio 2018-08-27 at 19.25.38 (mp3cut.net).mpeg');
      },
      healingSond: function () {
        this.playAudio('src/assets/heal.ogg');
      }
    }
  }

</script>

<style>

  .controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
  }

  #start-game {
    background-color: #aaffb0;
  }

  #start-game:hover {
    background-color: #76ff7e;
  }

  #attack {
    background-color: #ff7367;
  }

  #attack:hover {
    background-color: #ff3f43;
  }

  #special-attack {
    background-color: #ffaf4f;
  }

  #special-attack:hover {
    background-color: #ff9a2b;
  }

  #heal {
    background-color: #aaffb0;
  }

  #heal:hover {
    background-color: #76ff7e;
  }

  #give-up {
    background-color: #ffffff;
  }

  #give-up:hover {
    background-color: #c7c7c7;
  }

  button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
  }

</style>
