<template>

  <div class="small-6 columns">
    <h1 class="text-center">{{playerName}}</h1>
    <div class="healthbar">
      <div
        class="healthbar text-center"
        style="background-color: green; margin: 0; color: white;"
        :style="{width: playerHealth + '%'}">
        {{playerHealth}}
      </div>
    </div>
    <div class="manabar " v-if="isPlayer">
      <div
        class="manabar text-center"
        style="background-color: blue; margin: 0; color: white; margin-top: 6px"
        :style="{width: playerMana + '%'}">
        {{playerMana}}
      </div>
    </div>

  </div>

</template>

<script>

  export default {
    name: 'HealthBar',
    props: {
      playerHealth: Number,
      playerMana: Number,
      playerName: String
    },
    computed: {
      isPlayer: function () {
        return this.playerName === 'YOU'
      }
    }
  }

</script>

<style>

  .healthbar {
    width: 80%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
    box-shadow: 0 1px 1px green;

  }

  .manabar {
    width: 80%;
    height: 20px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
    box-shadow: 0 1px 1px blue;
  }

  .text-center {
    text-align: center;
  }


</style>
