<template>

  <section class="row log" v-if="turns.length > 0">
    <div class="small-12 columns">
      <ul>
        <li v-for="turn in turns"
            :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer, 'player-turn-heal':  turn.isPlayer && turn.text.includes('heals')}">
          {{turn.text}}
        </li>
      </ul>
    </div>
  </section>

</template>

<script>

  export default {
    name: 'Log',
    props: {
      turns: Array
    }
  }

</script>

<style>

  .log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .log ul li {
    margin: 5px;
  }

  .log ul .player-turn {
    color: blue;
    background-color: #e4e8ff;
  }

  .log ul .player-turn-heal {
    color: green;
    background-color: #e4e8ff;
  }

  .log ul .monster-turn {
    color: red;
    background-color: #ffc0c1;
  }

  .turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
  }

</style>
