<template>

  <div>
    <section class="row">
      <health-bar :player-health="game.playerHealth" :player-mana="game.playerMana" :playerName="'YOU'"/>
      <health-bar :player-health="game.monsterHealth" :playerName="'GATO PODRE'"/>
    </section>

    <controls :game="game"/>

    <log :turns="game.turns"/>

  </div>

</template>

<script>

  import HealthBar from './components/HealthBar'
  import Controls from './components/Controls'
  import Log from './components/Log'

  export default {

    name: 'app',
    components: {HealthBar, Controls, Log},
    data() {
      return {
        game: {
          playerHealth: 100,
          playerMana: 0,
          monsterHealth: 100,
          gameIsRunning: false,
          turns: []
        }
      }
    }
  }


</script>

<style>

</style>
